.customer-container {
  text-align: center;
  margin-top: 40px;
  background-image: url('../assets/mall.jpg');
  background-size: cover;
  background-position: center;
}


.customer-container ul {
  list-style-type: none;
  padding: 0;
  z-index: 1;
}

.customer-container li {
  margin-bottom: 10px;
}

.customer-container button {
  padding: 4px 8px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.customer-container button:hover {
  background-color: #45a049;
}
